About this page

This dataset is of a bank that contains the customer details and is published on Kaggle.com. The ditect link of dataset is: https://www.kaggle.com/datasets/divu2001/customer-churn-rate?resource=download

Dataset consists of 14 variables: Row Number:
CustomerId: This column is a unique Id for the customer;
Surname: This column is the family name of the customer;
CreditScore: This column is Credit score of the customer;
Geography: This column is the location of the customer;
Gender: This column is the gender of the customer;
Age: This column is the age of the customer;
Tenure: This column is a descrete variable which shows the number of the years the customer is in bank;
Balance: This column is the respective's customer account;
NumOfProducts: This column is 
HasCrCard: This column shows that if the respective's customer has credit card;
IsActiveMember: This column shows that if the respective's customer is active using credit card;
EstimatedSalary: This column is a float variable which shows an estimated amount for customer;
Exited: This column shows that if the respective's customer exit the bank:
